<div id="restore_pwd">
    <div class="forms-bg"></div>
    <form ng-hide="restorePwdCtrl.gotQuestions" ng-submit="restorePwdCtrl.getUserID()" class="form restore_form"
          name="restoreForm" id="restoreForm"
          enctype="text/plain"
          method="POST" novalidate>
        <h1>Restore Password</h1>
        <div class="field-p-restore">
            <label for="username" class="username" data-icon="u">Username* </label>
            <input class="input" id="username" name="username" required type="text"
                   placeholder="username" ng-model="restorePwdCtrl.username" ng-pattern="/^[a-zA-Z]+$/"/>
            <br>
            <span class="error_input_lbl" ng-show="restoreForm.username.$error.required">
                This field is required
            </span>
            <span class="error_input_lbl" ng-show="restoreForm.username.$error.pattern">
                Only letters allowed
            </span>
            <span class="error_input_lbl" ng-show="restoreForm.username.$invalid">
                This field is invalid
            </span>
            <span class="valid_input_lbl" ng-show="restoreForm.username.$valid">
                 &#10003;
        </span>
        </div>
        <div class="form-submit-div">
            <input class="form-button btn btn-orange btn-border-o" type="submit" value="Get Questions"
                   ng-disabled="restoreForm.$invalid"/>
            <br>
            <span ng-model="restorePwdCtrl.message"> </span>
            <p class="error_input_lbl">{{restorePwdCtrl.message}}</p>
        </div>
    </form>
    <form ng-show="restorePwdCtrl.gotQuestions" ng-submit="restorePwdCtrl.checkRestoreQA()" class="form restore_form"
          name="qaForm" id="qaForm"
          enctype="text/plain" method="POST">
        <h1>Restore Password</h1>
        <div class="qa-div">
            <label for="username" class="username" data-icon="u">Username: </label>
            <label for="username" class="username" data-icon="u">{{restorePwdCtrl.username}} </label>
            <br><br>
            <fieldset class="fieldset-restore" ng-repeat="q in restorePwdCtrl.questions">
                <div>
                    <label class="restore_question_{{$index}}" data-icon="u"> Q: {{q.question}}</label>
                </div>
                <br>
                <div>
                    <label for="restore_answer_{{$index}}" class="restore_answer_{{$index}}" data-icon="u"> A: </label>
                    <input class="input" id="restore_answer_{{$index}}" name="restore_answer_{{$index}}" required
                           type="text" placeholder="Restore Answer" ng-model="restorePwdCtrl.answers[$index]"/>
                    <br>
                    <span class="error_input_lbl" ng-show="qaForm.restore_answer_{{$index}}.$error.required">
                    This field is required
                </span>
                    <span class="error_input_lbl" ng-show="qaForm.restore_answer_{{$index}}.$invalid">
                    This field is invalid
                </span>
                    <span class="valid_input_lbl" ng-show="qaForm.restore_answer_{{$index}}.$valid">
                    &#10003;
                </span>
                </div>

            </fieldset>
        </div>
        <div class="form-submit-div" ng-hide="restorePwdCtrl.gotPassword">
            <input class="form-button btn btn-orange btn-border-o" type="submit" value="Check"
                   ng-disabled="qaForm.$invalid"/>
        </div>
        <div class="form-submit-div">
            <span ng-model="restorePwdCtrl.message"> </span>
            <p class="error_input_lbl">{{restorePwdCtrl.message}}</p>
        </div>

    </form>

</div>