<h1> Hi </h1>
<h2>This is the home page</h2>

<div>
    <p>Click the button to run a function:</p>
    <button ng-click="myFunc()">OK</button>
    <p>The button has been clicked {{count}} times.</p>
    

</div>

<div id="welcome">
    <h1 id="welcome_username">Hello Guest</h1>
    <img src="../img/logo_all.png"/>
    <p>
        <button class="btn btn-orange btn-border-o" id="register_btn">Register</button>
        <button class="btn btn-orange btn-border-o" id="login_btn">Log in</button>
    </p>
</div>