.home-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home-present {
    position: relative;
    text-align: right;
    color: white;
    text-shadow: 2px 2px rgb(79, 78, 82);
}

.london-title {
    position: absolute;
    bottom: 70%;
    font-size: 80px;
}

.is-waiting-for-you-title {
    position: absolute;
    bottom: 20px;
    right: 0;
    font-size: 80px;
}

.img-home {
    height: 50%;
    width: 100%;
    padding-right: 10%;
}

.h1-hello {
    text-align: center;
}

.home_login_form {
    width: 30%;
    background: #ffe2b92b;
}

.title {
    text-align: center;
    font-size: 40px;
    color: rgb(125, 26, 138);
    text-shadow: 1px 1px rgb(79, 78, 82);
    font-weight: bold;
}

.point-title {
    text-align: center;
    font-size: 20px;
    color: rgb(13, 0, 153);
    font-weight: bolder;
}

.points-div {
    text-align: center;
    margin: 10px 5px;
}

.point-div {
    float: left;
    margin: 0 20px;
}

.login-div {
}

.center {
    text-align: center;
}

.center-160 {
    text-align: center;
    padding-left: 160px;
}

.home-fav-poi-option {
    text-align: left;
    float: left;
}

.img-popular {
    height: 200px;
    width: 390px;
}

.img-recommend {
    height: 300px;
    width: 420px;
}

.recommended-div {
    display: flow-root;
}

.favorites-div {
    margin-bottom: 10px;
    display: flow-root;
}

