<head>
        <link rel="stylesheet" type="text/css" href="stylePois.css" />

</head>
<h2  style="text-align:center;">Points Of Interests</h2>
<div  style="text-align:center;"> Select category:
    <select class="input" ng-init="Attraction" name="pointsCategories" id="categories" ng-model="catFilter"
            ng-options="item.category for item in poiCtrl.categories" required>
        <option value="{{item.category}}"></option>
    </select>

    <!--<li ng-repeat="p in poiCtrl.getPointsByCategory(item.category)">
        <h3>{{cat.title}}</h3>-->

    <div ng-repeat="(id , point) in poiCtrl.points | filter: {category:catFilter.category}:true"
         ng-click="poiCtrl.OpenPointPage(point)">
        <!--<div ng-repeat="(pointId , name, category, rating, rating, views, description, picture) in poiCtrl.points" ng-click="poiCtrl.OpenPointPage()">-->
        
        <div class="poiTitle">
            POI name: <span ng-bind="point.name"></span>
            <br>
            Category: <span ng-bind="point.category"></span>
            <br>
            <!--<img ng-style="{'height': '100px'}" ng-src="{{ Buffer(point.picture).toString('base64')}} ">-->
            <!--<img ng-style="{'height': '100px'}" data-ng-src="data:image/jpg;base64,{{point.picture}}"/>-->
            <img ng-style="{'height': '300px'}" ng-src="{{point.image}}"/>
            <br><br><br><br>

        </div>
        
    </div>
    Selected city: {{poiCtrl.selected}}
</div>

