<h2>Points Of Interests</h2>

<div>
    <div ng-repeat="(id , point) in poiCtrl.points" ng-click="poiCtrl.OpenPointPage()">
    <!--<div ng-repeat="(pointId , name, category, rating, rating, views, description, picture) in poiCtrl.points" ng-click="poiCtrl.OpenPointPage()">-->
        <div>
            <button ng-click="poiCtrl.selectedCity(id)"> add points</button>
            <input type="radio" value="{{points.name}}_{{id}}" ng-model="poiCtrl.selected">
        </div>
        <div>
            POI name:        <span ng-bind="point.name"></span>
            <br>
            Category:        <span ng-bind="point.category"></span>
            <br>
            <!--<img ng-style="{'height': '100px'}" ng-src="{{ Buffer(point.picture).toString('base64')}} ">-->
            <!--<img ng-style="{'height': '100px'}" data-ng-src="data:image/jpg;base64,{{point.picture}}"/>-->
            <img ng-style="{'height': '100px'}" ng-src="{{point.image}}"/>
            
        </div>
        <div>
            <input type="text " value="{{points.name}}_{{id}} " ng-model="poiCtrl.amount[id] " >
            <button ng-click="poiCtrl.addToCart(id, points) ">add</button>
        </div>
    </div>
    Selected city: {{poiCtrl.selected}}
</div>

