.column {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 300px;
  }
  
  .container2 {
    padding: 0 16px;
  }
  
  
  .cat-title {
    color: rgb(71, 6, 80);
  }

  html {
    box-sizing: border-box;
  }

  .name-title{
    color: black;
    text-shadow: 0px;
  }
  