
.poiTitle{
    font-size: 18px ;
    color: rgb(125, 26, 138);
    text-shadow: 1px 0.5px rgb(79, 78, 82);
    font-weight: bold;
}

.column {
    float: left;
    width: 30%;
    margin-bottom: 16px;
    padding: 0 8px;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 350px;
    height: 350px;
}

.container2 {
    padding: 0 16px;
}


.cat-title {
    color: rgb(71, 6, 80);
}

html {
    box-sizing: border-box;
}

.name-title{
    color: black;
    text-shadow: 0px;
}

.poi-click{
    cursor: pointer;
}

.pois-option{
    text-align: left;
    float: left;
    margin-top: 20px;
}