html {
    font-family: 'Helvetica', Arial, sans-serif;
}

body {
    background-color: #fff8ee7d;
    overflow-x: hidden;
}

.title {
    font-size: 40px ;
    color: rgb(125, 26, 138);
    text-shadow: 1px 1px rgb(79, 78, 82);
    font-weight: bold;
}

.center{
    text-align:center;
}

p{
    font-weight: bold;
    font-size: 18px;
}

.left-align{
    text-align: left;
}

.label{
    color: white;
    padding: 8px;
    background-color: cadetblue;
    box-shadow: 4px black;
}


.center-r {
    position: absolute;
    left: 52%;
    text-align: left;
    width: 350px;
    height: 300px;
    border-radius: 10%;
}

.purple-title{
    color: rgb(125, 26, 138);
    font-weight: bold;
}

.wi{
    width: 500px;
}


.text-size{
    font-size: 15px ;
}

.review-style{
    border-radius: 25px;
    border: 2px solid rgb(150, 33, 173);
    padding: 20px;
    width: 400px;
    min-height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;

}
#shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rate-button{
    left: 2%;
}

.inline{
    display: inline-block;
    padding: 8px;
}

#point_map {
    height: 300px;
    width: 350px;
    border-radius: 10%;
}

.legend {
    background: white;
    line-height: 1.5em
}

.legend i {
    width: 5em;
    float: left
}

.review-span{
    word-wrap: break-word;
}