<div id="favorites">

    <h2>My Favorites Points Of Interests</h2>

    <div>
        <p>
            <button class="sort-button" ng-click="f_poiCtrl.sortByCategory()"> Order by Category</button>
            <button class="sort-button" ng-click="f_poiCtrl.sortByRating()"> Order by Rating</button>
            <button class="sort-button" ng-click="f_poiCtrl.sortByOrderNum()"> Order by Me</button>
            <button class="save-path-button" ng-click="f_poiCtrl.saveFavoritesInDB()"> Save Path</button>
        </p>
        <p>
            Select category:
            <select class="input" ng-init="All" name="pointsCategories" id="categories" ng-model="catFilter"
                    ng-options="item.category for item in f_poiCtrl.categories" required>
                <option value="{{item.category}}"></option>
                <option value="">All</option>
            </select>
        </p>
        <span ng-show="f_poiCtrl.showMsgOfFavorites"> {{f_poiCtrl.favoritesMsg}} </span>
        <div class="poi-div"
             ng-show="!f_poiCtrl.showMsgOfFavorites"
             ng-repeat="(id , point) in f_poiCtrl.favoritesPoints | orderBy: point.orderNum | filter: (!!catFilter.category || undefined) && {category:catFilter.category}:true track by $index ">

            <!--<div class="border-div"></div>-->

            <div class="poi-option">
                <span class='heart fav-button active btn-option'
                      ng-click="f_poiCtrl.toggleToFavorites($event, point)"></span>
                <br><br>
                <span class='in-db-icon btn-option' ng-show="f_poiCtrl.isPointInDB(point)">
                    <img ng-src="https://png-2.vector.me/files/images/6/8/683511/uk_union_flag_thumb"/>
                </span>
                <br>
                <span class="order-button btn-option" ng-style="{'cursor': ($first ? 'default' : 'pointer')}"
                      ng-click="!$first && f_poiCtrl.swapOrderNum(f_poiCtrl.favoritesPoints[$index], f_poiCtrl.favoritesPoints[$index-1])"> ︽ </span>
                <br><br>
                <span class="order-button btn-option" ng-style="{'cursor': ($last ? 'default' : 'pointer')}"
                      ng-click="!$last && f_poiCtrl.swapOrderNum(f_poiCtrl.favoritesPoints[$index], f_poiCtrl.favoritesPoints[$index+1])"> ︾ </span>
            </div>

            <div class="poi-data poi-click" ng-click="f_poiCtrl.OpenPointPage(point)">
                <label ng-bind="point.name"></label>
                <br>
                <span ng-bind="point.category"></span>
                <!--<br>
                pointId: <span ng-bind="point.pointId"></span>
                <br>
                orderNum: <span ng-bind="point.orderNum"></span>
                <br>
                rating: <span ng-bind="point.rating"></span>
                <br>
                date: <span>{{point.savedDate | date}}</span>-->
                <br>
                <img ng-style="{'height': '250px', 'width':'400px'}" ng-src="{{point.image}}"/>
            </div>

            <div class="poi-review">
                <button class="review-btn" ng-click="f_poiCtrl.openReviewModal(point)">Rate It!</button>
                <script type="text/ng-template" id="ReviewModalTemplate">

                    <div class="cont">
                        <div class="stars">
                            <form action="">
                                <label class="review">Rate</label>
                                <input class="star star-5" id="star-5-2" type="radio" name="star"
                                       ng-model="reviewCtrl.reviewRate" ng-value="5"
                                       ng-change="reviewCtrl.changeRateSelected()"/>
                                <label class="star star-5" for="star-5-2"></label>
                                <input class="star star-4" id="star-4-2" type="radio" name="star"
                                       ng-model="reviewCtrl.reviewRate" ng-value="4"
                                       ng-change="reviewCtrl.changeRateSelected()"/>
                                <label class="star star-4" for="star-4-2"></label>
                                <input class="star star-3" id="star-3-2" type="radio" name="star"
                                       ng-model="reviewCtrl.reviewRate" ng-value="3"
                                       ng-change="reviewCtrl.changeRateSelected()"/>
                                <label class="star star-3" for="star-3-2"></label>
                                <input class="star star-2" id="star-2-2" type="radio" name="star"
                                       ng-model="reviewCtrl.reviewRate" ng-value="2"
                                       ng-change="reviewCtrl.changeRateSelected()"/>
                                <label class="star star-2" for="star-2-2"></label>
                                <input class="star star-1" id="star-1-2" type="radio" name="star"
                                       ng-model="reviewCtrl.reviewRate" ng-value="1"
                                       ng-change="reviewCtrl.changeRateSelected()"/>
                                <label class="star star-1" for="star-1-2"></label>
                                <div class="rev-box">
                                    <label class="review" for="review">Review</label>
                                    <textarea class="review" col="30" name="review"
                                              ng-model="reviewCtrl.reviewMsg"></textarea>
                                    <input type="button" value="send" ng-click="reviewCtrl.sendReviewMsg()"/>
                                    <br>
                                    <span ng-bind="reviewCtrl.sendReviewMsgComment"></span>
                                </div>
                            </form>
                        </div>
                    </div>

                </script>
            </div>
        </div>
    </div>

</div>