<div id="register">
    <form ng-submit="registerCtrl.register()" class="form register_form" name="registerForm" id="registerForm"
          enctype="text/plain" method="POST">
        <h1>Register</h1>
        <p>
            <label for="username" class="username" data-icon="u">Username* </label>
            <input class="input" id="username" name="username" required type="text"
                   placeholder="username" ng-model="registerCtrl.user.username" ng-minlength="3" ng-maxlength="8"
                   ng-pattern="/^[a-zA-Z]+$/"/>
            <!-- ng-pattern="/^(\D)+$/"  this regex is for letters only -->
            <span ng-show="registerForm.username.$error.required">
                This field is required
            </span>
            <span ng-show="registerForm.username.$error.pattern">
                Only letters allowed
            </span>
            <span ng-show="registerForm.username.$error.minlength">
                Minimum length required is 3
            </span>
            <span ng-show="registerForm.username.$error.maxlength">
                Maximum length required is 8
            </span>
            <span ng-show="registerForm.username.$invalid">
                This field is invalid
            </span>
        </p>
        <p>
            <label for="password" class="password" data-icon="p">Password* </label>
            <input class="input" id="password" name="password" required type="password"
                   ng-model="registerCtrl.user.password" placeholder="eg: S8ok!90EO" ng-minlength="5"
                   ng-maxlength="10" ng-pattern="/^[a-zA-Z0-9]+$/"/>
            <span ng-show="registerForm.password.$error.required">
                This field is required
            </span>
            <span ng-show="registerForm.password.$error.pattern">
                Only letters and digits allowed
            </span>
            <span ng-show="registerForm.password.$error.minlength">
                Minimum length required is 5
            </span>
            <span ng-show="registerForm.password.$error.maxlength">
                Maximum length required is 10
            </span>
            <span ng-show="registerForm.password.$invalid">
                This field is invalid
            </span>
        </p>
        <p>
            <label for="firstName" class="firstName" data-icon="u">First name* </label>
            <input class="input" id="firstName" name="firstName" required type="text"
                   placeholder="first name" ng-model="registerCtrl.user.firstName"/>
            <span ng-show="registerForm.firstName.$error.required">
                This field is required
            </span>
            <span ng-show="registerForm.firstName.$invalid">
                This field is invalid
            </span>
        </p>
        <p>
            <label for="lastName" class="lastName" data-icon="u">Last name* </label>
            <input class="input" id="lastName" name="lastName" required type="text"
                   placeholder="last name" ng-model="registerCtrl.user.lastName"/>
            <span ng-show="registerForm.lastName.$error.required">
                This field is required
            </span>
            <span ng-show="registerForm.lastName.$invalid">
                This field is invalid
            </span>
        </p>
        <p>
            <label for="city" class="city" data-icon="u">City* </label>
            <input class="input" id="city" name="city" required type="text"
                   placeholder="City" ng-model="registerCtrl.user.city"/>
            <span ng-show="registerForm.city.$error.required">
                This field is required
            </span>
            <span ng-show="registerForm.city.$invalid">
                This field is invalid
            </span>
        </p>
        <p>
            <label for="email" class="email" data-icon="u">Email* </label>
            <input class="input" id="email" name="email" required type="email"
                   placeholder="email@mail.com" ng-model="registerCtrl.user.email"
                   ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"/>
            <span ng-show="registerForm.email.$error.required">
                This field is required
            </span>
            <span ng-show="registerForm.email.$error.pattern">
                Email not valid
            </span>
            <span ng-show="registerForm.email.$invalid">
                This field is invalid
            </span>
        </p>
        <p>
            <label for="country" class="country" data-icon="u">Country* </label>
            <select class="input" name="country" id="country" ng-model="registerCtrl.user.country"
                    ng-options="item for item in registerCtrl.countries" required></select>
            <!--<input class="input" id="country" name="country" required type="text"-->
            <!--placeholder="Country" ng-model="registerCtrl.user.country"/>-->
            <span ng-show="registerForm.country.$error.required">
                This field is required
            </span>
            <!--<span ng-show="registerForm.country.$error.pattern">-->
            <!--Country not selected-->
            <!--</span>-->
            <span ng-show="registerForm.country.$invalid">
                This field is invalid
            </span>
        </p>
        <p>
            <label for="category" class="category" data-icon="u">Category* </label>
            <!--<input class="input" id="category" name="category" required type="text"-->
            <!--placeholder="Category" ng-model="registerCtrl.user.category"/>-->
            <span id="category" ng-repeat="categoryName in registerCtrl.categories">
                 <label class="checkbox-inline">
                    <input type="checkbox" name="registerCtrl.user.categories[]" value="{{categoryName}}"
                           ng-checked="registerCtrl.user.categories.indexOf(categoryName) > -1"
                           ng-click="registerCtrl.toggleCategorySelection(categoryName)"> {{categoryName}}
                     <!--    ng-model="registerCtrl.user.category"-->
                </label>
            </span>
            <span ng-show="registerForm.category.$error.required">
                This field is required
            </span>
            <span ng-show="registerForm.category.$invalid">
                This field is invalid
            </span>
        </p>
        <p>
            <label for="restore_question" class="restore_question" data-icon="u">Restore Question* </label>
            <input class="input" id="restore_question" name="restore_question" required type="text"
                   placeholder="Restore Question" ng-model="registerCtrl.user.restore_question"/>
            <span ng-show="registerForm.restore_question.$error.required">
                This field is required
            </span>
            <span ng-show="registerForm.restore_question.$invalid">
                This field is invalid
            </span>
        </p>
        <p>
            <label for="restore_answer" class="restore_answer" data-icon="u">Restore Answer* </label>
            <input class="input" id="restore_answer" name="restore_answer" required type="text"
                   placeholder="Restore Answer" ng-model="registerCtrl.user.restore_answer"/>
            <span ng-show="registerForm.restore_answer.$error.required">
                This field is required
            </span>
            <span ng-show="registerForm.restore_answer.$invalid">
                This field is invalid
            </span>
        </p>

        <p class="register button">
            <input class="btn btn-orange btn-border-o" type="submit" value="Register"
                   ng-disabled="registerForm.$invalid"/>
            Already a member ?
            <a id="to_login" href="#/login" class="to_register">Go and log in </a>
        </p>
    </form>


    <div >
        <span ng-model="registerCtrl.message"> </span>
            <p style="color:red;">{{registerCtrl.message}}</p>
        </div>

</div>