<div id="register">
    <div class="forms-bg"></div>
    <form ng-submit="registerCtrl.register()" class="form register_form" name="registerForm" id="registerForm"
          enctype="text/plain" method="POST">
        <h1>Register</h1>
        <div class="field-p">
            <label for="username" class="username" data-icon="u">Username* </label>
            <input class="input" id="username" name="username" required type="text"
                   placeholder="username" ng-model="registerCtrl.user.username" ng-minlength="3" ng-maxlength="8"
                   ng-pattern="/^[a-zA-Z]+$/"/>
            <!-- ng-pattern="/^(\D)+$/"  this regex is for letters only -->
            <br>
            <span class="error_input_lbl" ng-show="registerForm.username.$error.required">
                This field is required
            </span>
            <span class="error_input_lbl" ng-show="registerForm.username.$error.pattern">
                Only letters allowed
            </span>
            <span class="error_input_lbl" ng-show="registerForm.username.$error.minlength">
                Minimum length required is 3
            </span>
            <span class="error_input_lbl" ng-show="registerForm.username.$error.maxlength">
                Maximum length required is 8
            </span>
            <span class="error_input_lbl" ng-show="registerForm.username.$invalid">
                This field is invalid
            </span>
            <span class="valid_input_lbl" ng-show="registerForm.username.$valid">
                &#10003;
            </span>
        </div>
        <!--<div class="clearence"></div>-->
        <div class="field-p">
            <label for="password" class="password" data-icon="p">Password* </label>
            <input class="input" id="password" name="password" required type="password"
                   ng-model="registerCtrl.user.password" placeholder="eg: S8ok!90EO" ng-minlength="5"
                   ng-maxlength="10" ng-pattern="/^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$/"/>
            <br>
            <span class="error_input_lbl" ng-show="registerForm.password.$error.required">
                This field is required
            </span>
            <span class="error_input_lbl" ng-show="registerForm.password.$error.pattern">
                Only letters and digits allowed (at least one letter and one digit)
            </span>
            <span class="error_input_lbl" ng-show="registerForm.password.$error.minlength">
                Minimum length required is 5
            </span>
            <span class="error_input_lbl" ng-show="registerForm.password.$error.maxlength">
                Maximum length required is 10
            </span>
            <span class="error_input_lbl" ng-show="registerForm.password.$invalid">
                This field is invalid
            </span>
            <span class="valid_input_lbl" ng-show="registerForm.password.$valid">
                &#10003;
            </span>
        </div>
        <div class="clearence"></div>
        <div class="field-p">
            <label for="firstName" class="firstName" data-icon="u">First name* </label>
            <input class="input" id="firstName" name="firstName" required type="text"
                   placeholder="first name" ng-model="registerCtrl.user.firstName"/>
            <br>
            <span class="error_input_lbl" ng-show="registerForm.firstName.$error.required">
                This field is required
            </span>
            <span class="error_input_lbl" ng-show="registerForm.firstName.$invalid">
                This field is invalid
            </span>
            <span class="valid_input_lbl" ng-show="registerForm.firstName.$valid">
                &#10003;
            </span>
        </div>
        <!--<div class = "clearence"></div>-->
        <div class="field-p">
            <label for="lastName" class="lastName" data-icon="u">Last name* </label>
            <input class="input" id="lastName" name="lastName" required type="text"
                   placeholder="last name" ng-model="registerCtrl.user.lastName"/>
            <br>
            <span class="error_input_lbl" ng-show="registerForm.lastName.$error.required">
                This field is required
            </span>
            <span class="error_input_lbl" ng-show="registerForm.lastName.$invalid">
                This field is invalid
            </span>
            <span class="valid_input_lbl" ng-show="registerForm.lastName.$valid">
                &#10003;
            </span>
        </div>
        <div class="clearence"></div>
        <div class="field-p">
            <label for="email" class="email" data-icon="u">Email* </label>
            <input class="input" id="email" name="email" required type="email"
                   placeholder="email@mail.com" ng-model="registerCtrl.user.email"
                   ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"/>
            <br>
            <span class="error_input_lbl" ng-show="registerForm.email.$error.required">
                This field is required
            </span>
            <span class="error_input_lbl" ng-show="registerForm.email.$error.pattern">
                Email not valid
            </span>
            <span class="error_input_lbl" ng-show="registerForm.email.$invalid">
                This field is invalid
            </span>
            <span class="valid_input_lbl" ng-show="registerForm.email.$valid">
                &#10003;
            </span>
        </div>
        <div class="field-p">
            <label for="city" class="city" data-icon="u">City* </label>
            <input class="input" id="city" name="city" required type="text"
                   placeholder="City" ng-model="registerCtrl.user.city"/>
            <br>
            <span class="error_input_lbl" ng-show="registerForm.city.$error.required">
                This field is required
            </span>
            <span class="error_input_lbl" ng-show="registerForm.city.$invalid">
                This field is invalid
            </span>
            <span class="valid_input_lbl" ng-show="registerForm.city.$valid">
                &#10003;
            </span>
        </div>
        <div class="clearence"></div>
        <div class="field-p">
            <label for="country" class="country" data-icon="u">Country* </label>
            <select class="input" name="country" id="country" ng-model="registerCtrl.user.country"
                    ng-options="item as item.country for item in registerCtrl.countries" required></select>
            <!--<input class="input" id="country" name="country" required type="text"-->
            <!--placeholder="Country" ng-model="registerCtrl.user.country"/>-->
            <br>
            <span class="error_input_lbl" ng-show="registerForm.country.$error.required">
                This field is required
            </span>
            <!--<span ng-show="registerForm.country.$error.pattern">-->
            <!--Country not selected-->
            <!--</span>-->
            <span class="error_input_lbl" ng-show="registerForm.country.$invalid">
                This field is invalid
            </span>
            <span class="valid_input_lbl" ng-show="registerForm.country.$valid">
                &#10003;
            </span>
        </div>
        <div class="field-p">
            <label for="category" class="category" data-icon="u">Categories* (at least two)</label>
            <!--<input class="input" id="category" name="category" required type="text"-->
            <!--placeholder="Category" ng-model="registerCtrl.user.category"/>-->
            <br>
            <span id="category" ng-repeat="category in registerCtrl.categories">
                <label class="checkbox-inline">
                    <input type="checkbox" name="category" id="category{{$index}}"
                           value="{{category.category}}"
                           ng-checked="registerCtrl.user.categories.indexOf(category.category) > -1"
                           ng-click="registerCtrl.toggleCategorySelection(category.category)"/>
                    <!--ng-required="registerCtrl.user.categories.length < 2"/>-->
                    {{category.category}}
                    <!--    ng-model="registerCtrl.user.category"-->
                </label>
                <br>
            </span>

            <br>
            <span class="error_input_lbl" ng-show="registerForm.category.$error.required">
                    This field required at least 2 categories checked
                </span>
            <span class="error_input_lbl" ng-show="registerForm.category.$invalid">
                    This field is invalid
                </span>
            <span class="valid_input_lbl" ng-show="registerForm.category.$valid">
                &#10003;
            </span>
        </div>
        <div class="clearence"></div>
        <fieldset ng-repeat="qa in registerCtrl.restoreQA" class="qa-restore-pwd">
            <div class="field-p">
                <label for="restore_question_{{$index}}" class="restore_question_{{$index}}" data-icon="u">Restore
                    Question* </label>
                <input class="input" id="restore_question_{{$index}}" name="restore_question_{{$index}}" required
                       type="text"
                       placeholder="Restore Question" ng-model="registerCtrl.user.questions[$index]"/>
                <!--placeholder="Restore Question"/>-->
                <br>
                <span class="error_input_lbl" ng-show="registerForm.restore_question_{{$index}}.$error.required">
                    This field is required
                </span>
                <span class="error_input_lbl" ng-show="registerForm.restore_question_{{$index}}.$invalid">
                    This field is invalid
                </span>
                <span class="valid_input_lbl" ng-show="registerForm.restore_question_{{$index}}.$valid">
                &#10003;
            </span>
            </div>

            <div class="field-p">
                <label for="restore_answer_{{$index}}" class="restore_answer_{{$index}}" data-icon="u">Restore
                    Answer* </label>
                <input class="input" id="restore_answer_{{$index}}" name="restore_answer_{{$index}}" required
                       type="text"
                       placeholder="Restore Answer" ng-model="registerCtrl.user.answers[$index]"/>
                <!--placeholder="Restore Answer"/>-->
                <br>
                <span class="error_input_lbl" ng-show="registerForm.restore_answer_{{$index}}.$error.required">
                    This field is required
                </span>
                <span class="error_input_lbl" ng-show="registerForm.restore_answer_{{$index}}.$invalid">
                    This field is invalid
                </span>
                <span class="valid_input_lbl" ng-show="registerForm.restore_answer_{{$index}}.$valid">
                    &#10003;
                </span>
            </div>

        </fieldset>
        <input type="button" class="addfields" ng-click="registerCtrl.addRestoreQA()" value=" + "/>
        <input type="button" class="remove" ng-hide="registerCtrl.restoreQA.length==1"
               ng-click="registerCtrl.removeRestoreQA()"
               value=" - "/>

        <div class="form-submit-div">
            <input class="form-button btn btn-orange btn-border-o " type="submit" value="Register"
                   ng-disabled="registerForm.$invalid"/>
            <br>
            Already a member ?
            <a id="to_login" href="#/login" class="to_register">Go and log in </a>

            <br>
            <div>
                <span ng-model="registerCtrl.message"> </span>
                <p class="error_input_lbl">{{registerCtrl.message}}</p>
            </div>
        </div>

    </form>

</div>