html {
    font-family: 'Helvetica', Arial, sans-serif;
}

body {
    background-color: #fff8ee7d;
    overflow-x: hidden;
}

footer {
    background-color: #333333;
    display: inline-block;
    width: 100%;
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.a-hello {
    right: 0;
    position: absolute;
    margin-right: 10px;
}



footer .footer-align-left {
    float: left;
}

footer .footer-align-right {
    float: right;
    right:0;
}