<h1>Restore Password</h1>

<form ng-hide="restorePwdCtrl.gotQuestions" ng-submit="restorePwdCtrl.getUserID()" class="form login_form" name="restoreForm" id="restoreForm"
      enctype="text/plain"
      method="POST">
    <p>
        <label for="username" class="username" data-icon="u">Username* </label>
        <input class="input" id="username" name="username" required type="text"
               placeholder="username" ng-model="restorePwdCtrl.username" ng-pattern="/^[a-zA-Z]+$/"/>
        <span ng-show="restoreForm.username.$error.required">
                This field is required
            </span>
        <span ng-show="restoreForm.username.$error.pattern">
                Only letters allowed
            </span>
        <span ng-show="restoreForm.username.$invalid">
                This field is invalid
            </span>
    </p>
    <p class="login button" >
        <input class="btn btn-orange btn-border-o" type="submit" value="Get Restore Questions"
               ng-disabled="restoreForm.$invalid"/>
    </p>
</form>
<form ng-show="restorePwdCtrl.gotQuestions" ng-submit="restorePwdCtrl.checkRestoreQA()" class="form login_form"
      name="qaForm" id="qaForm"
      enctype="text/plain" method="POST">
    <label for="username" class="username" data-icon="u">Username: </label>
    <label for="username" class="username" data-icon="u">{{restorePwdCtrl.username}} </label>
    <fieldset ng-repeat="q in restorePwdCtrl.questions">
        <p>
            <label class="restore_question_{{$index}}" data-icon="u"> Q: {{q.question}}</label>
        </p>

        <p>
            <label for="restore_answer_{{$index}}" class="restore_answer_{{$index}}" data-icon="u"> A: </label>
            <input class="input" id="restore_answer_{{$index}}" name="restore_answer_{{$index}}" required
                   type="text" placeholder="Restore Answer" ng-model="restorePwdCtrl.answers[$index]"/>
            <span ng-show="qaForm.restore_answer_{{$index}}.$error.required">
                    This field is required
                </span>
            <span ng-show="qaForm.restore_answer_{{$index}}.$invalid">
                    This field is invalid
                </span>
        </p>

    </fieldset>
    <p class="login button" ng-hide="restorePwdCtrl.gotPassword">
        <input class="btn btn-orange btn-border-o" type="submit" value="Check" ng-disabled="qaForm.$invalid"/>
    </p>
</form>
<div>
    <span ng-model="restorePwdCtrl.message"> </span>
    <p style="color:red;">{{restorePwdCtrl.message}}</p>
</div>

