<h2>My Favorites Points Of Interests</h2>

<div>
    <span ng-show="f_poiCtrl.showMsgOfFavorites"> {{f_poiCtrl.favoritesMsg}} </span>
    <div ng-show="!f_poiCtrl.showMsgOfFavorites" ng-repeat="(id , point) in f_poiCtrl.favoritesPoints"
         ng-click="f_poiCtrl.OpenPointPage()">
        <div>
            <div class='heart fav-button active' ng-click="f_poiCtrl.toggleToFavorites($event, point)"></div>
            POI name: <span ng-bind="point.name"></span>
            <br>
            Category: <span ng-bind="point.category"></span>
            <br>
            <img ng-style="{'height': '100px'}" ng-src="{{point.image}}"/>
        </div>
    </div>
</div>

