<html ng-app="pointPageApp">

<head>
    <title style="text-align:center;">Points Of Interest App</title>
    <link rel="stylesheet" type="text/css" href="stylePointPage.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="../../../node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="pointPageController.js"></script>
    <!--<script src="../Services/pageForPoint.js"></script>
    <script src="../Services/setHeadersToken.js"></script>-->

</head>

<body ng-controller="pointPageController as pointCtrl">
<!--<body>-->
<div style="text-align:center;" >
    <h1 class= "title"><span ng-bind="pointCtrl.pointSelected.name"> </span></h1>
    <br>
    <table >
        <td>Category: <br> {{pointCtrl.pointSelected.category}} </td>
        <td>Views:<br>  {{pointCtrl.pointSelected.views}} </td>
        <td>Rating:<br>  {{pointCtrl.pointSelected.rating}}% </td>
        <td>Description:<br>  {{pointCtrl.pointSelected.description}}</td>
    </table>  
    <br><br><br>
    <img src="{{pointCtrl.pointSelected.image}}"/>
    <div>
            <button ng-click=""> Add to favorits</button>
            <input type="radio" value="{{pointCtrl.pointSelected.name}}_{{pointCtrl.pointSelected.id}}" ng-model="pointCtrl.selected">
        </div>
        <div>
                <input type="text " value="{{points.name}}_{{id}} " ng-model="poiCtrl.amount[id] ">
                <button ng-click="poiCtrl.addToCart(id, points) ">add</button>
            </div>
            
    <p>Last reviews: </p>
    <div ng-repeat="(id , review) in pointCtrl.pointSelected.lastReviews">
        <span>{{$index+1}}: {{review.reviewMsg}} </span>
        <br>
    </div>
</div>

</body>
</html>