<html ng-app="pointPageApp">

<head>
        <link rel="stylesheet" type="text/css" href="stylePointPage.css" />
        <link rel="stylesheet" type="text/css" href="../../favoritesStyle.css" />
        <title class="center">Points Of Interest App</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="../../../node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="pointPageController.js"></script>
    <!--<script src="../Services/pageForPoint.js"></script>
    <script src="../Services/setHeadersToken.js"></script>-->

</head>

<body ng-controller="pointPageController as pointCtrl">
<!--<body>-->
<div  >
    <h1 class= "title"><span ng-bind="pointCtrl.pointSelected.name"> </span></h1>
    <br><br>
    <!--<table >
        <td>Category: <br> {{pointCtrl.pointSelected.category}} </td>
        <td>Views:<br>  {{pointCtrl.pointSelected.views}} </td>
        <td>Rating:<br>  {{pointCtrl.pointSelected.rating}}% </td>
    
    </table>  -->
    <div>
    <span class="label">Category: {{pointCtrl.pointSelected.category}}</span><br><br>
    <span class="label">Views: {{pointCtrl.pointSelected.views}} </span><br><br>
    <span class="label">Rating: {{pointCtrl.pointSelected.rating}}% </span><br><br>
    <br><br><br>
</div>
<div class="wi">
    <img class="center-r" src="{{pointCtrl.pointSelected.image}}"/>
    <p class="left-align"><p class="purple-title">Description:</p><br>  {{pointCtrl.pointSelected.description}}</p>
    <div class='heart fav-button' ng-class="{'active': homeCtrl.isFavoritePoint(point)}"
    ng-click="homeCtrl.toggleToFavorites($event, point)"></div>
</div>

  
        <div> <p>What is your opinion? 
                <input type="text " value="{{points.name}}_{{id}} " ng-model="poiCtrl.amount[id] ">
                <button class="label" ng-click="poiCtrl.addToCart(id, points) ">Add review</button>
            </div>

    <p class="purple-title">Last reviews: </p>
    <div ng-repeat="(id , review) in pointCtrl.pointSelected.lastReviews">
        <span>{{$index+1}}: {{review.reviewMsg}} </span>
        <br>
    </div>
</div>

</body>
</html>