table , td  {
    border: 4px solid rgb(122, 75, 114);
    border-collapse: collapse;
    padding: 10px;
    background-color:  rgb(250, 213, 255);;
  }

  .title {
    /*position: absolute;
    text-align: center;*/
    font-size: 40px ;
    color: rgb(125, 26, 138);
    text-shadow: 1px 1px rgb(79, 78, 82);
    font-weight: bold;
}

body {
    background-color:seashell;
    /*text-align:center;*/
}

.center{
    text-align:center;
}