<div id="login">
    <div class="forms-bg"></div>
    <form ng-submit="loginCtrl.login()" class="form login_form" name="loginForm" id="loginForm" enctype="text/plain"
          method="POST" novalidate>
        <h1>Login</h1>
        <div class="field-p">
            <label for="username" class="username" data-icon="u">Username* </label>
            <input class="input" id="username" name="username" required type="text"
                   placeholder="username" ng-model="loginCtrl.user.username" ng-pattern="/^[a-zA-Z]+$/"/>
            <!-- ng-pattern="/^(\D)+$/"  this regex is for letters only -->
            <br>
            <span class="error_input_lbl" ng-show="loginForm.username.$error.required">
                This field is required
            </span>
            <span class="error_input_lbl" ng-show="loginForm.username.$error.pattern">
                Only letters allowed
            </span>
            <!--<span ng-show="loginForm.username.$error.minlength">
                Minimum length required is 3
            </span>
            <span ng-show="loginForm.username.$error.maxlength">
                Maximum length required is 8
            </span>-->
            <span class="error_input_lbl" ng-show="loginForm.username.$invalid">
                This field is invalid
            </span>
            <span class="valid_input_lbl" ng-show="loginForm.username.$valid">
                &#10003;
            </span>
        </div>
        <div class="field-p">
            <label for="password" class="password" data-icon="p">Password* </label>
            <input class="input" id="password" name="password" required type="password"
                   ng-model="loginCtrl.user.password" placeholder="eg: S8ok!90EO"
                   ng-pattern="/^[a-zA-Z0-9]+$/"/>
            <br>
            <span class="error_input_lbl" ng-show="loginForm.password.$error.required">
                This field is required
            </span>
            <span class="error_input_lbl" ng-show="loginForm.password.$error.pattern">
                Only letters and digits allowed
            </span>
            <!-- <span ng-show="loginForm.password.$error.minlength">
                 Minimum length required is 5
             </span>
             <span ng-show="loginForm.password.$error.maxlength">
                 Maximum length required is 10
             </span>-->
            <span class="error_input_lbl" ng-show="loginForm.password.$invalid">
                This field is invalid
            </span>
            <span class="valid_input_lbl" ng-show="loginForm.password.$valid">
                &#10003;
            </span>
        </div>

        <div class="form-submit-div">
            <input class="form-button btn btn-orange btn-border-o" type="submit" value="Login"
                   ng-disabled="loginForm.$invalid"/>

            <br><br>
            Forgot the password ?
            <a href="#/restorePassword" class="to_register">Restore Password</a>

            <br><br>
            Not a member yet ?
            <a id="to_register" href="#/register" class="to_register">Join the fun </a>

            <br><br>

            <div>
                <span ng-model="loginCtrl.message"> </span>
                <p class="error_input_lbl">{{loginCtrl.message}}</p>
            </div>
        </div>
    </form>


</div>
